.navbar {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .navbar .btn {
    border-radius: 25px;
    font-weight: 500;
  }
  .home-page {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .carousel-caption h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 1.2rem;
    font-style: italic;
  }
  
  .search-bar form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
#navcol{
    color: black;
}
#navcol2{
    color: white;
}
#homediv{
    width: 100vw;
}
  
  